@use "src/colors";
@use "sass:map";

.button {
  padding: 5px 35px;
  font-family: "Genos", sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.btn-blue {
  background-color: map.get(colors.$backgrounds, "blue");
  border: 1px solid map.get(colors.$backgrounds, "blue");

  &:hover {
    color: map.get(colors.$backgrounds, "blue");
    background-color: black;
    cursor: pointer;
  }
}

.btn-white {
  background-color: black;
  border: 1px solid map.get(colors.$backgrounds, "blue");
  color: map.get(colors.$backgrounds, "blue");

  &:hover {
    color: black;
    background-color: map.get(colors.$backgrounds, "blue");
    cursor: pointer;
    border-color: black;
  }
}
